@media (max-width : 992px) {
    .navigation {
        left: -20rem;

        &.active {
            width: 20rem;
            left: 0;
        }
    }

    .main{
        width: 100%;
        left: 0;

        &.active {
            width: calc(100% - 20rem);
            left: 20rem;
        }
    }
    .cardBox {
        grid-template-columns: repeat(2, 1fr);
    }
    .details {
        grid-template-columns: 1fr;
    }
}


@media (max-width : 480px) {
    .cardBox {
        grid-template-columns: 1fr;
    }
    .details .recentOrders table {
        width: 4rem;
    }
    .navigation {
        width: 100%;
        left: -100%;
        z-index: 1000;

        &.active {
            width: 100%;
            left: 0;
        }
    }
    .toggle.active {
        position: fixed;
        z-index: 10000;
        right: 0;
        left: initial;

        &:before {
            color: $coolGray-700;
        }
    }

    main, main.active {
        width: 100%;
        left: 0;
    }
}

